* {
  box-sizing: border-box;
}

body{
  background: #E5E5E5;
}

strong {
  font-weight: 700;
}

.font-destaque{
  font-family: 'Righteous', cursive;
}

.font-pedido{
  font-family: 'Roboto', sans-serif;
}

ion-icon {
  color: #32b72f;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: none;
}

.sumir{
  display: none;
}

.mostrar{
  display: flex;
}

/* CABEÇALHO */
nav{
  width: 100%;
  height: 92px;
  background-color: #CF2B2B;
  color: #ffffff;
  font-weight: 400;
  box-shadow: 0px 4px 4px gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 19px;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav p:nth-child(1){
  font-size: 44px;
}

nav p:nth-child(2){
  font-size: 18px;
}

/* MENU */
.menu {
  margin-top: 110px;
  margin-bottom: 92px;
  overflow: hidden; 
  padding-left: 19px;
}

.texto{
  font-size: 26px;
  font-weight: 400;
  color: #333333;
  margin-top: 10px;
}


.item-menu {
  width: 172px;
  background-color: #ffffff;
  margin: 16px 0;
  margin-right: 16px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 19px;
  position: relative;
  
}

.pratos, .bebidas, .sobremesas{
  overflow-x: scroll;
  display: flex;
}

.foto{
  width: 144px;
  height: 87px;
}

.titulo{
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.descricao{
  font-size: 15px;
  font-weight: 300;
  color: #A6A6A6;
}

.preco{
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.prato{
  height: 216px;
}

.bebida{
  height: 202px;
}

.sobremesa{
  height: 197px;
}

.selecionado{
  border: solid 3px #32b72f;
}

.selecionado ion-icon{
  display: block;
}

/* RODAPÉ */
footer{
  width: 100%;
  height: 92px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer button{
  width: 364px;
  height: 61px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  padding: 0 80px;
}

.botaoSelecioneTresItens{
  background: #CBCBCB;
  font-weight: 400;
}

.botaoFecharPedido{
  background: #32b72f;
  font-weight: 700;
}

.botaoFecharPedido:hover {
  cursor: pointer;
}

/* CONFIRMACAO PEDIDO */
.telaConfirmar{
  width: 100%;
  height: 100%;
  position: fixed;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  z-index: 2;
  left: 0;
  top: 0;
  overflow: auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
 
}

.resumoPedido{
  width: 100%;
  height: 353px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #50D074;
  border-radius: 9px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  box-shadow: 0px 0px 10px 1px gray;
  padding: 25px;
}

.tabela-confirmacao{
  width: 300px;
}

.tab-preco{
  text-align: right;
}

th, td {
  padding: 10px;
}

.confirmarPedido{
  width: 329px;
  height: 52px;
  background: #FFFFFF;
  border-radius: 100px;
  border: none;
  color: #50D074;
  font-size: 22px;
  margin: 10px 0;
}

.confirmarPedido:hover{
  cursor: pointer;
}

.cancelarPedido{
  border: none;
  background: #50D074;
  color: #FFFFFF;
  font-size: 20px;
}

.cancelarPedido:hover{
  cursor: pointer;
}